*{
  background-color: black;
}
.main{
  text-align: center;
  background-color: black;
  color: antiquewhite;
}
.question{
  font-family: 'cursive';
  margin-bottom: 100px;
  color: rgba(255, 0, 0, 0.63);
}